html, body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    width: 100%;
    min-height: 100vh !important;
    height: 100vh;
    font-family:'Noto Sans', Segoe UI, Tahoma, sans-serif;
    background: #ffd6a6;
}

:root {
    --indigo: #252643;
    --indigo-light: #484A74;
    --blue: #3471FA;
    --blue-light-1: #6B7FB5;
    --gray: rgb(117, 117, 117);
    --gray-light-1: #909BB1;
    --gray-light-2: rgb(215, 217, 226);
    --gray-light-3: rgb(235, 236, 240);
    --width: 500px;
    --radius: 10px;
    --font-size: 16px;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 100%;
    min-height: 100vh !important;
    height: 100vh;
    /* padding: 100px 0px; */
}
.container{
    width: var(--width);
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.buttons {
    margin-bottom: 20px;
}
.buttons button {
    outline: none;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    /* margin-right: 10px; */
    cursor: pointer;
    transition: all 0.2s ease;
    background: #fff;
    color: #484A74;
}
.buttons button:hover {
    background: var(--blue);
    color:white;
}
.list-group {
    background: #fff;
    border-radius: var(--radius);
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 6px 8px 0px rgb(204, 187, 129);
}
.list-group ul li {
    display: flex;
    align-items: center;
    color: #444;
    font-size: var(--font-size);
    border-bottom: 1px solid var(--gray-light-3);
    transition: all 0.2s ease-out;
}
.list-group ul li.checked {
    color: #aaa;
    background: var(--gray-light-3);
    border-color: rgb(222, 222, 222);
}
.list-group .checked, .list-group .checked .item-title {
    border-color: var(--gray-light-2);
}
.list-group ul li.checked > p {
    text-decoration: line-through;
}
.checkbox-wrapper, .item-title {
    padding: 25px;
}
.checkbox-wrapper {
    margin-right: 5px;
}
.item-title {
    margin: 0;
    flex: 1;
    border-left: 1px solid var(--gray-light-3);
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}
.list-group .checked > .item-title {
    border-color: rgb(222, 222, 222);
}
.delete {
    padding: 20px;
    padding-right: 25px;
    color: var(--gray-light-1);
    font-weight: 700;
    cursor: pointer;
    visibility: hidden;
}
.show {
    visibility: visible;
}
input[type=checkbox] {
    position: relative;
    cursor: pointer;
    background: #fff;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    border: 2px solid var(--gray-light-3);
    border-radius: 3px;
    background-color: #fff;
    /* box-shadow: 0px 2px 5px rgb(207, 202, 197); */
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    border: 2px solid #248888;
    border-radius: 3px;
    background-color: var(--blue);
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

section form {
    margin-top: 50px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
}
form{
    border-radius: var(--radius);
    box-shadow: 2px 24px 20px #e9c398;
    overflow: hidden;
}
form input {
    padding: 15px 25px;
    font-size: var(--font-size);
}
form input.input-field {
    flex: 1;
    border: 1px solid var(--gray-light-2);
    color: var(--gray);
    border: none;
}
input.input-field:focus{
    outline: none;
    border: none;
}
input.input-field::placeholder{
    color: var(--gray-light-1)
}
form input.submit {
    border: none;
    background: var(--blue);
    color: white;
    cursor: pointer;
}